@import "./fonts.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

:root {
    --colorWhite: white;
}

a {

    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

ul,
li {
    list-style: none;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}


/* header start */


.navbar-content {
    background: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: 65px;
    display: flex;
    align-items: center;

}

.nav {
    background: url(../img/Header.png) no-repeat center / cover;
    height: 700px;
}


.navbar-left {
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 683px;
    margin-left: 245px;
}

.navbar-right {
    column-gap: 25px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.nav-logo {
    margin-right: 30px;
}

.navbar-right {
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin-right: 248px;
}

.navbar-item {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navbar-end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 204px;
    -bottom: 38px;

}

.navbar-title {
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
}

.navbar-link-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #171718;
    padding: ;
    background-color: white;
    border-radius: 10px;
    margin-top: 38px;
    transition: .4s;
}

.navbar-link-center:hover {
    cursor: pointer;
    color: #000000;
    background-color: white;
}


.navbar-link-cente__img {
    padding-left: 11px;

}
.nav__burger{
    font-size: 30px;
    color: var(--colorWhite);
    display: none;
}



/* intro start */

.intro-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #282828;
}

.intro1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    column-gap: 30px;
    margin-right: 233px;
    margin-left: 247px;
    margin-bottom: 50px;

}

.intro1-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    width: 538px;
    height: 135px;
}

.intro2 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 87px;
    margin-left: 271px;
    margin-right: 245px;
}


.intro2-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    width: 540px;
    height: 107px;
}

.intro3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 247px;
    margin-left: 245px;
    column-gap: 87px;
    margin-bottom: 79px;
}

.intro3-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 333px;
    height: 120px;
}


.intro4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
    column-gap: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 312px;
    background: #FFFFFF;
    border-radius: 6px;

}

.box-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.box-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-align: center;
    padding-bottom: 20px;
}

.box-end {
    background: #151515;
    width: 161px;
    height: 34px;
    padding: 7px 57px;
    border-radius: 1px solid;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box>img {
    padding: 10px 10px;
    text-align: center;
}

/* footer start */

.footer-content {
    height: 215px;
    background: #282828;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    margin-right: 18px;
    margin-bottom: 18px;
    margin-left: 245px;
    margin-right: 339px;
}

.footer-right {
    display: flex;
    margin-right: 245px;
    column-gap: 29px;
    margin-left: 270px;
}


.footer-item {
    display: flex;
    column-gap: 30px;
}

.model {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}